@media (max-width: 992px){
    .slider-section{
    width:100%;
    }
}
@media (max-width:806px){
    .slider-section{
        width:100%;
    }
}
@media (max-width:768px){
    .slider-section {
        background: url(it_sevice_MG_4781.jpg) no-repeat top center;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
    }
}
